div.main
  div.section
    div.content.top(style="padding-top: 1em;")

      h3 NEWS
              
      div
        for row in rows[1]
          h4= S(row.title).stripTags().truncate(70).s
          div.news
            img.thumb(src="/images/icci/"+row.id+"/"+row.image title="")
            div
              div.description= S(row.body).stripTags().truncate(230).s
            div(style="clear:both;font-size:100%;margin-top: 25px;")
              span(style="float:right;margin-right:10px;")
                i.icon.write
                span= row.day + '/' + row.month + '/' + row.year
              span(style="float:left;margin-right:10px;")
                i.icon.mouse.pointer
                span= S('http://islamireland.ie/news/' + row.name).truncate(65).s

  div.section
    div.content.bottom(style="padding-bottom: 2em;")
      h3 ACTIVITIES
      .wide-container
        #slider
          ul.slides-container
            for row in rows[2]
              li(style="position:relative;")
                img(src="/images/icci/"+row.id+"/"+row.image title=S(row.title).stripTags().truncate(64).s)
                span.caption=row.title

          //- nav.slides-navigation
          //-   a.next(href="#") Next
          //-   a.previous(href="#") Previous