extends layout_edit

block content
  div.ui.fixed.inverted.menu
    div.ui.inverted.orange.vertical.masthead.center.aligned.basic.segment
      div.ui.text.container
        h1.ui.inverted.header Islamic Cultural Centre of Ireland


  div.ui.main.text.container
    h2.ui.header #{title}
    if message
      div.ui.icon.positive.message
        i.inbox.icon
        div.content
          div.header #{message}
          //- - message=nil
          //- p!= req.body

    form.ui.form(method='POST' action='')

      if errors
        div.ui.icon.negative.message
          i.inbox.icon
          div.content
            div.header Error
            for error in errors
              p!= error.msg





      table.ui.celled.table
        thead
          tr
            th.three.wide Prayer
            th.center.aligned.two.wide Adhan
            th.center.aligned.two.wide Iqamah
            th.center.aligned.four.wide Calculation method
            th.center.aligned Calculation offset



        each val in time
          tr
            td!= value=(val.name===time.nextPrayerName ? '<strong>'+val.name+'</strong>' : val.name)
            td.center.aligned= value=(undefined===val ? '' : val.prayerTimeDisp)
            td.center.aligned= value=(undefined===val ? '' : val.jamaahTimeDisp)
            td.center.aligned
              if val.jamaahMethod
                select(name='jamaahmethod'+val.name)
                  each method in [['fixed','Fixed'],['afterthis','After adhan'],['beforenext','Before next']]
                    if method[0] == val.jamaahMethod
                      option(value=method[0] selected='selected')= method[1]
                    else
                      option(value=method[0])= method[1]
            td.center.aligned
              if val.jamaahOffsetHour
                select.left.floated(name='jamaahoffset'+val.name+'hour')
                  each hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
                    if hour == val.jamaahOffsetHour
                      option(selected='selected')=hour
                    else
                      option= hour
                span.left.floated &nbsp;
                select.left.floated(name='jamaahoffset'+val.name+'minute')
                  each minute in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]
                    - if(minute < 10) minutepre = '0' + minute; else minutepre = minute;
                    if minute == val.jamaahOffsetMinute
                      option(value=minute selected='selected')= minutepre
                    else
                      option(value=minute)= minutepre



      div.ui.small.segment

        div.field
          label(for='title') Text title:
          input#title(type='text', placeholder='Text title' name='title' value=(undefined===body.title ? settings.title : body.title) ) 

        div.field
          label(for='body') Text body:
          textarea#body(placeholder='Text body' name='body' maxlength='200' wrap='hard' rows='5')=(undefined===body.body ? settings.body : body.body)

        div.field
          label(for='announcement') Announcement:
          textarea#announcement(placeholder='Announcement' name='announcement' maxlength='100' wrap='hard' rows='3')=(undefined===body.announcement ? settings.announcement : body.announcement)

        div.field
          label(for='refreshmessage') Refresh message:
          input(type='text', placeholder='Refresh message' name='refreshmessage' value=(undefined===body.refreshmessage ? settings.refreshmessage : body.refreshmessage) ) 

      div.fields.ui.small.segment
      
        div.six.wide.field
          label(for='refresh') Refresh timeout:
          input.ui.slider#refresh(type='range', name='refresh' min='30' max='180' step='30' value=(undefined===body.refresh ? settings.refresh : body.refresh) )
          br
          span 30-60-90-120-150-180

        div.four.wide.field
          label(for='jummuahtime') Jummuah time:
          select.left.floated(name='jummuahtimehour') 
            each hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
              if hour == body.jummuahtimehour
                option(selected='selected')=hour
              else if hour == ((settings.jummuahtime).split(":"))[0]
                option(selected='selected')=hour
              else
                option= hour
          span.left.floated &nbsp;
          select.left.floated(name='jummuahtimeminute') 
            each minute in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]
              - if(minute < 10) minutepre = '0' + minute; else minutepre = minute;
              if minute == body.jummuahtimeminute
                option(value=minute selected='selected')= minutepre
              else if minute == ((settings.jummuahtime).split(":"))[1]
                option(value=minute selected='selected')= minutepre
              else
                option(value=minute)= minutepre

        div.six.wide.field
          label(for='hijrioffset') Hijri offset:
          select.left.floated(name='hijrioffset') 
            each adjust in [-2,-1,0,1,2]
              if adjust == body.hijrioffset
                option(selected='selected')=adjust
              if adjust == settings.hijrioffset
                option(selected='selected')=adjust
              else
                option= adjust


      button.ui.rounded.inverted.positive.button(type='submit') Submit

  div.ui.inverted.vertical.footer.segment
    div.ui.center.aligned.container
      div.ui.inverted.section.divider
      div.ui.horizontal.inverted.small.divided.link.list
        a.item Site Map
