extends layout

block content

    div#refresh
        div.fadein
        div#message-text.black
        div.fadeout

    div.main

        div.section
            div.content.top.darkgrey-b.white-f.center Islamic Cultural Centre of Ireland


        div.section
            div.content
                include inc/clock.pug
                div(class='ui sizer vertical segment' id='date-time')
                    h1#time.center.white-f.nomargin time

        div.section#date-time.center
            div.content
                div#date date

        div.section
            div.content
                div.row.header
                    div.column.left Prayer
                    div.column.center Adhan
                    div.column.center Iqamah
                    div.column.arabic.right صلاة
                each val in [['fajr','الفجر'], ['shurooq', 'الشروق'], ['dhuhr', 'الظهر'], ['asr', 'العصر'], ['maghrib', 'المغرب'], ['isha', 'العشاء']]
                    div.row.line(id="row-"+val[0])
                        div.column.left= val[0]
                        div.column.center(id='prayer-time-'+val[0])
                        div.column.center(id='jamaah-time-'+val[0])
                        div.column.arabic.right= val[1]

        div.section.center
            div.content
                span#pending-name Prayer
                div#timetoprayer Countdown

        - var hadiths = settings.body.split("\r\n");
        - var announcements = settings.announcement.split("\r\n");

        div.section
          div.content(style="padding: 0 .25em;")
            div#ticker
              ul.center
                each hadith in hadiths
                  - var str = hadith;
                  - var words = str.split(" ");
                  - var arrays = [], size = 7;
                  - while(words.length>0) {arrays.push(words.splice(0,size)); }
                  each array in arrays
                    - val = array.join(" ")
                    li.arabic=val
                each announcement in announcements
                  - var str = announcement;
                  - var words = str.split(" ");
                  - var arrays = [], size = 7;
                  - while(words.length>0) {arrays.push(words.splice(0,size)); }
                  each array in arrays
                    - val = array.join(" ")
                    li.next.arabic=val


        div#ramadan.section.center
            div.content



        //- div.section.center
        //-     div.content
        //-         //- h3=settings.title
        //-         div.arabic(style='white-space:pre-line;font-size:70%;')!= settings.body
        //-         div.header.arabic(style='white-space: pre-line;font-size:90%;')!= settings.announcement




        div.section
            div.content.bottom.darkgrey-b.white-f.center= "Friday Prayer " + settings.jummuahtime
        
    div#overlay

    script!= timedef


    script(src='/js/reload.js')

    script(src='/js/moment.min.js')
    script(src='/js/moment-timezone-with-data.js')
    script(src='/js/moment-hijri.js')
    script(src='/js/db/timetable.js')
    script(src='/js/time.js')
    script(src='/js/refresh.js')
    script(src='/js/jquery.min.js')
    script(src='/js/clock.js')
    script(src='/js/jquery.vticker.min.js')
    script(src='/js/script.js')
    
    script.
      $(function() {$('#ticker').vTicker('init', {
        speed: 500, 
        pause: 5000,
        showItems: 1,
        padding:2})
        });
