extends layout_edit

block content
  h1.center Islamic Cultural Centre of Ireland


  div.container
    h2 #{title}
    if message
      div.message
        i.inbox.icon
        div.header #{message}

    table
      thead
        tr
          th Prayer
          th Adhan
          th Iqamah
          th.center Calculation method
          th.center Calculation offset


      tbody
      - i = 0;
      each val in time
        - i++
        if i < 7
          tr
            //- td!= value=(val.name===time.nextPrayerName ? '<strong>'+val.name+'</strong>' : val.name)
            //- td!= value=(val.name===val.name ? '<strong>'+val.name+'</strong>' : val.name)
            td= val.name
            td.center= value=(undefined===val ? '' : val.disp)
            td.center= value=(undefined===val ? '' : val.jamaahdisp)
            td.center
              if val.jamaahMethodSetting=="beforenext"
                span Before next
              else if val.jamaahMethodSetting=="afterthis"
                span After adhan
              else if val.jamaahMethodSetting=="fixed"
                span Fixed time
              else
                span
                
            td.center
              if val.jamaahOffsetHour
                - if(val.jamaahOffsetMinute < 10) minutepre = '0' + val.jamaahOffsetMinute; else minutepre = val.jamaahOffsetMinute;
                  span= val.jamaahOffsetHour + ":" + minutepre




    div
      div.column
        h3= settings.title
        p(style='white-space:pre-line;')= settings.body
      div.column
        hr
        h4= settings.announcement
      div.column
        hr
        p= settings.refreshmessage



    div
      div
        = "Screen refresh: " + settings.refresh + " minutes"
      div
        = "Jummuah time: " + settings.jummuahtime
      div
        = "Hijri offset: " + settings.hijrioffset

    br
    div
      a.primary.button(href="/edit") Edit





  //- div.ui.inverted.vertical.footer.segment
  //-   div.ui.center.aligned.container
  //-     div.ui.inverted.section.divider
  //-     div.ui.horizontal.inverted.small.divided.link.list
  //-       a.item Site Map
