extends layout_edit

block content
  h1.center Islamic Cultural Centre of Ireland


  div.container
    h2 #{title}
    if message
      div.message
        i.inbox.icon
        div.header #{message}

    - i = 0;
    - names = ["fajr", "shurooq", "dhuhr", "asr", "maghrib", "isha"]
    - jamaahmethods = (settings.jamaahmethods).split(",");
    - jamaahoffsets = (settings.jamaahoffsets).split(",");


    div.container(style="width:100%")
        div(style="width:100%")
            div.row(style="width:100%")
                div.column.left(style="width:100%") Prayer
                div.column.center Adhan
                div.column.center Iqamah
                div.column.center Method
                div.column.center Offset
            each val in time
                    
              if i < 6
                div.row.line(id="row-"+names[i])

                  div.column.left= names[i]
                  div.column.center(id='prayer-time-'+val[0])= value=(undefined===val ? '' : val.disp)
                  - if(jamaahmethods[i]=="fixed") var jamaahdisp = jamaahoffsets[i]; else var jamaahdisp = val.jamaahdisp;
                  div.column.center(id='jamaah-time-'+val[0])= value=(undefined===val ? '' : jamaahdisp)
                  div.column.center
                    if jamaahmethods[i]=="beforenext"
                      span Before next
                    else if jamaahmethods[i]=="afterthis"
                      span After adhan
                    else if jamaahmethods[i]=="fixed"
                      span Fixed time
                    else
                      span
                  - jamaahOffsetHour = (jamaahoffsets[i].split(":"))[0]
                  - jamaahOffsetMinute = (jamaahoffsets[i].split(":"))[1]
                  - if(jamaahOffsetMinute < 10) var minutepre = '0' + jamaahOffsetMinute; else var minutepre = jamaahOffsetMinute;
                  - if(i==1) {minutepre = ""; divider = "";} else divider = ":"
                  div.column.center= jamaahOffsetHour + divider + minutepre

              - i++


    div
      div.column
        h3= settings.title
        p(style='white-space:pre-line;')= settings.body
      div.column
        hr
        h4= settings.announcement
      div.column
        hr
        p= settings.refreshmessage



    div
      div
        = "Screen refresh: " + settings.refresh + " minutes"
      div
        = "Jummuah time: " + settings.jummuahtime
      div
        = "Hijri offset: " + settings.hijrioffset
      div
        = "Join maghrib and isha: " + settings.join

    br
    div
      a.primary.button(href="/edit") Edit





  //- div.ui.inverted.vertical.footer.segment
  //-   div.ui.center.aligned.container
  //-     div.ui.inverted.section.divider
  //-     div.ui.horizontal.inverted.small.divided.link.list
  //-       a.item Site Map
